/* CHARTS */

.item-card .thumbnail {
    display: block;
    margin: 8px 0 10px;
    background-size: cover;
    background-position: top center;
    border: 1px solid #eaf1f5;
}

.item-card .favicon {
    position: relative;
    top: 2px;
    margin-right: 5px;
}
