/* CHARTS */

.item-card .chart-container {
    margin-top: 15px;
}

.item-card .result {
    margin: 1px 0 0 5px;
    float: right;
    line-height: 1em;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
}
