/* LAYOUT */

body {
    font-size: 16px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* PAGE DESCRIPTION */

.page-description {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -160px;
}

.page-description h1,
.page-description h2 {
    color: #9aa2a6;
}

/* NAVBAR */

.md-toolbar-tools > a.md-button.md-default-theme:not([disabled]):hover,
.md-toolbar-tools > .md-button.md-default-theme:not([disabled]):hover {
    background-color: rgba(255,255,255,0.1);
}

md-toolbar.md-default-theme .md-button {
    color: #ffffff;
}

.md-toolbar-tools > a.md-button.md-default-theme:not([disabled]).md-focused,
.md-toolbar-tools > .md-button.md-default-theme:not([disabled]).md-focused {
    background-color: transparent;
}

md-toolbar.md-default-theme {
    color: #fff;
}


/* FORMS */

.input-description {
    display: inline-block;
    margin: 26px 0 0 10px;
}


/* BUTTONS */

.md-button.md-fab,
.md-button.md-fab.md-fab-bottom-right {
    position: fixed;
}

.md-button > md-icon {
    height: 24px;
    margin: -4px 4px 0 0;
}


/* DIALOGS */

.kr-form {
    width: 320px;
}

.bookmarks-form {
    width: 400px;
}

.update-value {
    width: 300px;
}

.delete-confirm {
    width: 260px;
}


