/* LAYOUT */

body {
    font-size: 16px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* PAGE DESCRIPTION */

.page-description {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -160px;
}

.page-description h1,
.page-description h2 {
    color: #9aa2a6;
}

/* FORMS */

.input-description {
    display: inline-block;
    margin: 26px 15px 0 5px;
    vertical-align: top;
}

md-input-container .md-placeholder {
    top: -16px;
}

/* BUTTONS */

.md-button > md-icon {
    height: 24px;
    margin: -3px 4px 0 0;
}

/* DIALOGS */

.kr-form {
    width: 320px;
}

.bookmarks-form {
    width: 400px;
}

.update-value {
    width: 300px;
}

.delete-confirm {
    width: 260px;
}


