<md-card class="item-card" ng-cloak>
    <md-card-content class="content">
        <div class="header">
            <div class="actions" layout="row" layout-align="center center">
                <md-button ng-click="edit($event)">
                    Edit
                    <md-tooltip md-direction="bottom" md-autohide="true" md-delay="800">
                        Edit bookmark
                    </md-tooltip>
                </md-button>
                <md-button ng-click="remove($event)">
                    Delete
                    <md-tooltip md-direction="bottom" md-autohide="true" md-delay="800">
                        Delete bookmark?
                    </md-tooltip>
                </md-button>
            </div>
            <div class="details">
                <h2 class="title">
                    <img class="favicon" src="http://www.google.com/s2/favicons?domain={{host}}"/>
                    {{data.title}}
                </h2>
            </div>
        </div>
        <a href="{{data.url}}" class="thumbnail" ng-style="thumbnailStyle"></a>
    </md-card-content>
</md-card>
