<md-card class="chart">
    <md-card-content class="content">
        <div class="header">
            <div class="actions" layout="row" layout-align="center center">
                <md-button ng-click="updateValue($event)">
                    Results
                </md-button>
                <md-button ng-disabled="true">
                    Edit
                </md-button>
                <md-button ng-click="remove($event)">
                    Delete
                </md-button>
            </div>
            <div class="details">
                <p class="result">{{data.result}} of {{data.goal}} {{data.units}}</p>
                <h2 class="title">{{data.title}}</h2>
            </div>
        </div>
        <canvas class="chart chart-line"
                data="data.data" labels="data.labels" options="data.options" click="chartClick">
        </canvas>
    </md-card-content>
</md-card>
