<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>New Tab</title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/newtab.css -->
    <link rel="stylesheet" href="styles/fonts.css"/>
    <link rel="stylesheet" href="styles/newtab.css"/>
    <link rel="stylesheet" href="styles/items.css"/>
    <link rel="stylesheet" href="styles/charts.css"/>
    <link rel="stylesheet" href="styles/bookmarks.css"/>
    <!-- endbuild -->

</head>
<body ng-app="charttab" ng-controller="NewTabCtrl as vm" layout="column" ng-cloak
      md-theme="{{vm.isDarkMode ? 'darkMode' : ''}}">

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button ng-click="vm.page = vm.pages.charts">
            <md-icon md-svg-src="images/charts.svg"></md-icon>
            Charts
        </md-button>
        <md-button ng-click="vm.page = vm.pages.bookmarks">
            <md-icon md-svg-src="images/bookmark.svg"></md-icon>
            Bookmarks
        </md-button>
        <md-button ng-click="vm.page = vm.pages.apps">
            <md-icon md-svg-src="images/apps.svg"></md-icon>
            Apps
        </md-button>
        <span flex></span>
        <md-button ng-click="vm.addKr($event)" ng-if="vm.page === vm.pages.charts">
            <md-icon md-svg-src="images/add.svg"></md-icon>
            Add chart
        </md-button>
        <md-button ng-click="vm.addBookmark($event)" ng-if="vm.page === vm.pages.bookmarks">
            <md-icon md-svg-src="images/add.svg"></md-icon>
            Add bookmark
        </md-button>
        <md-divider class="vertical-divider"></md-divider>
        <md-button class="md-icon-button" aria-label="Open settings dialog" ng-click="vm.changeConfig($event)">
            <md-icon md-svg-src="images/settings.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-content ng-if="vm.page === vm.pages.charts" flex>
    <div layout="row" layout-wrap>
        <div flex="{{vm.chartFlex}}" ng-repeat="chart in vm.charts track by chart.id">
            <chart data="chart" height="vm.chartHeight"></chart>
        </div>
    </div>
    <div class="page-description" layout="column" layout-align="center center" ng-if="!vm.charts.length && vm.ready">
        <h1 class="md-display-1">NO CHARTS YET</h1>

        <h2 class="md-headline">Add a new one by pressing the "ADD CHART" button on the top.</h2>
    </div>
</md-content>

<md-content ng-if="vm.page === vm.pages.bookmarks" flex>
    <div layout="row" layout-wrap>
        <div flex="{{vm.bookmarkFlex}}" ng-repeat="bookmark in vm.bookmarks track by bookmark.id">
            <bookmark data="bookmark" height="vm.bookmarkHeight"></bookmark>
        </div>
    </div>
    <div class="page-description" layout="column" layout-align="center center" ng-if="!vm.bookmarks.length && vm.ready">
        <h1 class="md-display-1">NO BOOKMARKS YET</h1>

        <h2 class="md-headline">Add a new one by pressing the "ADD BOOKMARK" button on the top.</h2>
    </div>
</md-content>

<md-content ng-if="vm.page === vm.pages.apps" flex>
    <div class="page-description" layout="column" layout-align="center center">
        <h1 class="md-display-1">APPS ARE COMING SOON</h1>

        <h2 class="md-headline">It will be a list of ready-to-launch applications installed in your Chrome.</h2>
    </div>
</md-content>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/chart.js/dist/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/newtab.js -->
<script src="scripts/charttab.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/controllers/NewTabCtrl.js"></script>
<script src="scripts/controllers/KeyResultFormCtrl.js"></script>
<script src="scripts/controllers/ConfigFormCtrl.js"></script>
<script src="scripts/controllers/BookmarkFormCtrl.js"></script>
<script src="scripts/controllers/UpdateValueCtrl.js"></script>
<script src="scripts/controllers/DeleteBookmarkCtrl.js"></script>
<script src="scripts/controllers/DeleteKrCtrl.js"></script>
<script src="scripts/directives/bookmark.js"></script>
<script src="scripts/directives/chart.js"></script>
<script src="scripts/services/krs.js"></script>
<script src="scripts/services/ConfigService.js"></script>
<script src="scripts/services/bookmarks.js"></script>
<script src="scripts/services/charts.js"></script>
<script src="scripts/services/ui.js"></script>
<script src="scripts/services/uid.js"></script>
<!-- endbuild -->

<!-- build:dev -->
<script src="bower_components/livereload/dist/livereload.js?host=localhost&port=35729"></script>
<!-- endbuild -->

</body>
</html>
