<md-dialog>
    <form ng-submit="vm.submit()">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="settings-form">
            <div class="md-dialog-content">
                <h3>Chart data:</h3>
                <div layout="row">
                    <md-button ng-click="vm.exportData()">
                        <md-icon md-svg-src="images/file-download.svg"></md-icon>
                        Backup
                    </md-button>
                    <md-button ng-click="vm.openFile()">
                        <md-icon md-svg-src="images/file-upload.svg"></md-icon>
                        Restore
                    </md-button>
                    <file id="file" ng-model="vm.importFile" ng-change="vm.importData()"
                        accept="application/json"></file>
                </div>
                </br>
                <h3>Options:</h3>
                <div layout="row" class="padding-left">
                    <md-input-container flex="grow">
                        <label>Default Tab</label>
                        <md-select ng-model="vm.config.defaultTab">
                            <md-option ng-repeat="page in vm.pages" ng-value="page.key">
                                {{ page.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" class="padding-left">
                    <md-switch ng-model="vm.config.darkMode" aria-label="Dark Mode" md-invert>
                        Dark Mode
                    </md-switch>
                </div>
            </div>

        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" type="button" ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button class="md-accent" type="submit">
                Save
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>