<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            {{isEdit ? 'Edit bookmark' : 'Add new bookmark'}}
        </div>
    </md-toolbar>
    <form ng-submit="submit()">
        <md-dialog-content class="bookmarks-form">
            <md-input-container>
                <label>Title</label>
                <input type="text" ng-model="bookmark.title" autocomplete="off" maxlength="32" required>
            </md-input-container>
            <md-input-container>
                <label>URL</label>
                <input type="url" ng-model="bookmark.url" autocomplete="off" required>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions">
            <md-button class="md-primary" type="button" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-accent" type="submit">
                {{isEdit ? 'Save' : 'Add'}}
            </md-button>
        </div>
    </form>
</md-dialog>
