<md-dialog ng-cloak>
    <form ng-submit="add()">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Delete {{entity}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="delete-confirm" layout="row">
            <div class="md-dialog-content">
                Do you really want to delete "{{title}}"?
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" ng-click="cancel()">
                No
            </md-button>
            <md-button class="md-accent" ng-click="remove()">
                Yes
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
