<md-dialog>
    <form ng-submit="vm.update()">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Submit results</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="update-value" layout="row">
            <div class="md-dialog-content">
                <md-input-container flex="25">
                    <label>Value</label>
                    <input type="number"
                        ng-model="vm.data.value"
                        min="0"
                        max="{{vm.chartData.goal}}"
                        autocomplete="off"
                        autofocus
                        title="Last updated: {{vm.chartData.lastUpdated}}"
                        required>
                </md-input-container>
                <span class="input-description" flex="35">{{vm.chartData.units}}</span>
                <md-input-container flex="40">
                    <label>Date</label>
                    <span class="md-placeholder">{{vm.dateFormat}}</span>
                    <md-datepicker ng-model="vm.data.date"
                        ng-required="true"
                        md-min-date="vm.minDate"
                        md-max-date="vm.maxDate"
                        md-hide-icons="calendar"></md-datepicker>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" type="button" ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button class="md-accent" type="submit">
                Submit
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
